/* Home page background */
.bg {
    background-image: url("../img/background.png"); /* fallback */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
	margin: 0;
	padding: 0;
    background: url('../img/background.png') no-repeat;
    background-size: cover;
}

body:before {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	/*background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);*/
}

/* Class divider style */
.class-divider {
    margin-top: 15px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #eeeeee;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}